.col{
    color: white;
}
h5,h3,h2{
    color: black;
    font-family: 'Baloo Bhai 2', cursive;

}

.fou{
    border: 1px solid black;
    border-radius: 100%;
}
body{
    background-color: rgb(110, 110, 211);
}
.red{
    color: red;
}
